<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <span>{{ title }}</span>
  <div>
    <button
      mat-icon-button
      aria-label="Dashboard"
      matTooltip="Dashboard"
      routerLink="/dashboard"
    >
      <mat-icon>dashboard</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Heroes list"
      matTooltip="Heroes"
      routerLink="/heroes"
    >
      <mat-icon>sports_martial_arts</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="content" fxLayoutGap="1rem">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
