<div *ngIf="messageService.getMessages().length >= 1">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Messages </mat-panel-title>
        <mat-panel-description>
          {{ messageService.getMessages().length }} record(s)

          <button
            mat-button
            color="warn"
            (click)="messageService.clear()"
            style="margin-left: 1rem"
          >
            Clear Messages
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let message of messageService.getMessages()"
        >
          {{ message }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
